.profile {
    margin: 40px;
    background: white;
    width: 1179px;
    height: 548px;
    flex-shrink: 0;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    .pro {
        margin-top: 150px;
        text-align: center;
        align-items: center;
        .h1 {
        
        }
        .but {
            
            text-align: center;
            align-items: center;
            margin-top: 25px;
        }
    }
}