// $primary-color:black;
// @import 'loaders.css/src/animations/line-scale-pulse-out.scss';
.block_first {
    display: flex;
}
.block_second {
    width: 100%;
}
 body{
    background-color: #EEEEF5;
 }
 

// .loader-hidden {
//   display: none;
// }
// .loader-active {
//   display: block;
// }